{% extends "base.html" %}
{% block content %}
<h1>Log in to Blogz</h1>
<p>If you don't have an account, you may <a href="/signup">signup</a> for one</p>
<div class="form-group">
<form action="/login" method="post">
    <label for="username">Username</label>
    {% if username_error %}
    <p class="error">{{username_error}}</p>
    {% endif %}
    <input class="input-group" name="username" type="text" value="{{ username }}"><br>
    
        
    <label for="password">Password</label>
    {% if password_error %}
    <p class="error">{{password_error}}</p>
    {% endif %}
       <input class="input-group" name="password" type="password"><br>
       
       
    <input class="btn btn-primary" type="submit" value="Login">
</form>
</div>

{% endblock %}