{% extends "base.html" %}
{% block content %}
<h1>Add Post</h1>
<div class="form-group">
<form method='post'>
    <label>Title</label>
    {% if title_error %}
        <p class="error">{{title_error}}</p>
    {% endif %}
    <input class="input-group" type="text" name='title' value='{{post_title}}'/><br>
    
    <label>Body</label>
    {% if body_error %}
    <p class="error">{{body_error}}</p>
    {% endif %}
    <textarea class="form-control" name="body" rows="5" value='{{post_body}}'></textarea><br>
    <input class="btn btn-primary" type="submit"/>
</form>
</div>
{% endblock %}