{% extends "base.html" %}
{% block content %}
<h1>Signup for a Blogz Account</h1>
<div class="form-group">
<form action="/signup" method="post">
    <label for="username">Username</label>
    {% if empty_error %}
    <p class="error">{{empty_error}}</p>
    {% endif %}
    <div class="input-group">
        <input name="username" type="text" value="{{ username }}">
    </div><br>

    <label for="password">Password</label>
    {% if username_error %}
    <p class="error">{{username_error}}</p>
    {% endif %}
    <div class="input-group">
        <input name="password" type="password">
    </div><br>

    
    <label for="verify">Verify Password</label>
    {% if password_error %}
    <p class="error">{{password_error}}</p>
    {% endif %}
    <div class="input-group">
        <input name="verify" type="password">
    </div><br>

    {% if verify_error %}
    <p class="error">{{verify_error}}</p>
    {% endif %}
    <input class="btn btn-primary" type="submit" value="Register"><br>
</form>
</div>

{% endblock %}

